---
import { SUPPORT_EMAIL } from "../../constants";

const {
    email = SUPPORT_EMAIL,
    label,
    subject,
    body
} = Astro.props

let query: string[] = []
if (subject) query.push(`subject=${encodeURIComponent(subject)}`)
if (body) query.push(`body=${encodeURIComponent(body)}`)

const href = `mailto:${email}${query.length ? "?" + query.join("&") : "" }`
---

<a href={href}>{label ?? email}</a>

