---
import { logos } from '../data/logos';
---

<div class="tabs-grid">
    {logos
    .filter((logo) => 
    logo.display_type === "DISPLAYED_CARD")
    .map(logo => (
        <div class="tabs-card">
            <img
                src={`https://lean.sgp1.cdn.digitaloceanspaces.com/assets/svg/${logo.unique_reference}.svg`}
                alt={logo.name}
                title={logo.name}
                width="auto"
                height="auto"  
                class="object-contain" 
            />
        </div>
         
    ))}
</div>