@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    /* cyan theme */
    --color-accent-50:  #edfafa;
    --color-accent-100: #d5f3f4;
    --color-accent-200: #ace6e9;
    --color-accent-300: #82d9dd;
    --color-accent-400: #66d0d4;
    --color-accent-500: #5FC7CD;
    --color-accent-600: #4aa7ad;
    --color-accent-700: #3a8489;
    --color-accent-800: #2f686d;
    --color-accent-900: #285659;
    --color-accent-950: #153234;
}

@layer components {
    .tabs-grid {
        @apply columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-6 p-4
    }

    .tabs-card {
        @apply flex flex-col items-center bg-white rounded-lg p-3 shadow-sm transition-all duration-400 ease-out;
        break-inside: avoid;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .tabs-card:hover {
        @apply -translate-y-2 shadow-lg
    }

    .tabs-imgs {
        @apply h-[120px] w-[auto]
    }
}
