@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    /* cyan theme - for night mode */
    --color-accent-50:  #edfafa;
    --color-accent-100: #d5f3f4;
    --color-accent-200: #ace6e9;
    --color-accent-300: #82d9dd;
    --color-accent-400: #66d0d4;
    --color-accent-500: #5FC7CD;
    
    /* purple theme -  for day mode */
    --color-accent-600: #7460a8;
    --color-accent-700: #64529b;
    --color-accent-800: #524580;
    --color-accent-900: #443b68;
    --color-accent-950: #2a2446;

    /* yellow accents - tertiary colors */
    --color-yellow-400: #ffce33;
    --color-yellow-500: #f59e0b;
    --color-yellow-600: #d97706;
}

@layer components {
    .tabs-grid {
        @apply columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-6 p-4
    }

    .tabs-card {
        @apply flex flex-col items-center bg-white rounded-lg p-3 shadow-sm transition-all duration-400 ease-out;
        break-inside: avoid;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .tabs-card:hover {
        @apply -translate-y-2 shadow-lg
    }

    .tabs-imgs {
        @apply h-[120px] w-[auto]
    }
}
